* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.items {
  text-align: center;
  /* display: flex;  
  justify-content: center; */ /* display inlineblock 말고도 다른 방법*/
}
.item {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  margin: 10px;
  position: relative;
}
.caption {
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.caption a {
  margin: 10px;
  display: inline-block;
  background: teal;
  padding: 10px;
  border-radius: 3px;
}
.item:hover .caption {
  opacity: 1;
}
