@import url(./reset.css);
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: baemin;
} */

#searchs input {
  border: 2px solid #03c75a;
  border-radius: 10px;
}

#navs {
  padding: 0 100% px;
  position: relative;
}
#navs .main_nav {
  position: absolute;
  transform: translateY(-84%);
  font-size: ;
}
