* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.face-gallery {
  display: grid;
  grid-template-columns: repeat(auto - fill, mimax(300px 1fr));
  grid-gap: 5px;
}
.face-gallery img {
  width: 100%;
}
